*.log
*.in
*.in~
*.scan
depcomp
stamp-h1
**/Makefile
**/.deps
**.o
**.so
**.la
config.status
configure
autom4te.cache/
aclocal.m4
compile
install-sh
missing
src/core/main
.vscode
startup.sh
shutdown.sh
vxlog.conf
watcher.conf
src/core/VxLogSideCar
CMakeFiles
cmake_install*
CMakeCache*
.idea
